@model IEnumerable<mvc.Models.Bill>

@{
    ViewData["Title"] = "Index";
}

<h1>Trang Chủ</h1>

<p>
    <a asp-action="Create">Thêm Mới</a>
</p>
<form method="get" asp-action="Index">
    <p>

        <input type="text" placeholder="Nhập tên hoặc SDT khách hàng ...?" value="@ViewData["Gatemployeedetails"]" name="Empseach" style="width:500px; height:33px;" />
        <input type="submit" value="Tìm" class="btn btn-info" />
        <a class="btn btn-outline-info" asp-action="Index">Get all Products</a>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillTotal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BillId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BillId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BillId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
